@use "./variables";

.banner {
  width: 100vw;
  overflow: hidden;
}

.banner__image {
  width: 100vw;
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translate(0);
  
  img {
    min-width: 100vw;
    height: 7rem;
    object-fit: cover;
  }
  p {
    padding: 1rem;
    background-color: variables.$third;
    text-align: center;
    text-transform: capitalize;
    color: variables.$text-1;
    font-weight: bold;
  }
}

.banner__title {
  position: absolute;
  margin: 1rem 5%;
}
