@use "./variables";

.header {
  @include variables.flex(column, nowrap, "", "");
  background: variables.$primary;
  padding: 2rem 5%;

  .header__content {
    @include variables.flex(column, nowrap, "", "");
    .header__content__first-column {
      @include variables.flex(row, nowrap, center, "");
      .header__content__title {
        font-size: 2rem;
      }
      .search-form {
        @include variables.flex(row, nowrap, center, space-between);
        @include variables.size(65%, auto, 65%, auto, auto, 0);
        .search-form__input {
          @include variables.size(100%, 3.5rem, 100%, auto, auto, 0.5rem);
          border-radius: 0.5rem;
          padding: 0 1rem;
        }
        .search-form__button {
          background: none;
          svg {
            height: 2.4rem;
            color: variables.$third;
          }
        }
      }
    }
  }
}

.auth {
  @include variables.flex(row, nowrap, center, "");
  margin: 1rem 0;

  :nth-child(2) {
    background-color: rgba($color: #b7ffb3, $alpha: 0.5);
    color: variables.$text-1;
    padding: .5rem 1rem;
    border-radius: 2.2rem;
  }

  :nth-child(3) {
    background-color: rgba($color: #74caff, $alpha: 0.5);
    color: variables.$text-1;
    padding: .5rem 1rem;
    border-radius: 2.2rem;
  }


  .auth__icon {
    @include variables.size(3.2rem, 3.2rem, auto, auto, "", "");
    @include variables.flex(row, nowrap, center, center);
    background: variables.$secundary;
    border-radius: 100%;
    border: 0.2rem solid snow;
    color: variables.$text-1;
  }

  a {
    margin: 0 1rem;
  }
}

.icons__cart {
  @include variables.position(absolute, 2.4rem, 5rem, "", "");
  @include variables.size(2.4rem, 2.4rem, "", "", "", "");
  color: variables.$third;
}

.menu {
  @include variables.position(absolute, 2.6rem, 1.6rem, "", "");
  @include variables.size(2.4rem, 2.4rem, "", "", "", "");
  color: variables.$third;
  cursor: pointer;
}

.icons__heart {
  @include variables.position(absolute, 7rem, 1.6rem, "", "");
  @include variables.size(2.4rem, 2.4rem, "", "", "", "");
  color: variables.$text-1;
  fill: variables.$secundary;
}

.icons__chat {
  @include variables.position(absolute, 7rem, 5rem, "", "");
  @include variables.size(2.4rem, 2.4rem, "", "", "", "");
  color: variables.$text-1;
  fill: variables.$secundary;
}

.header__nav {
  line-height: 8rem;
  ul {
    height: 100v;
  }
  ul > li:not(:last-child) {
    border-bottom: 1px solid variables.$third;
  }
  ul > li {
    color: variables.$text-2;
    font-weight: bold;
  }
}

.cart__counter {
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  position: absolute;
  background-color: orange;
  color: white;
  right: 45px;
  top: 20px;
  z-index: 2;
}
