@use "./variables";

.products {
    h2 {
      font-size: 1.7rem;
      margin: 1rem auto;
      color: variables.$text-2;
      font-weight: bold;
    }   
}


.products__informations {
  @include variables.flex(column, nowrap, "", "");
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  background: variables.$text-1;
  color: variables.$text-2;

  h2 {
    font-size: 1.7rem;
    margin: 1rem auto;
  }   

  h3 {
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1.5rem 0;
  }

  li {
    margin: 2rem 0;
  }
}
